# ----------------------------
# Ingest service configuration
# ----------------------------
name: Development Ingest
identifier: example.org
description: ingest micro-service
service-scheme: Ingest/0.1
# Reference servlet container URL (see README)
access-uri: http://example.org:8080/
support-uri: http://example.org/contact.html
# will receive confirmation email of all submissioins
admin: admine@admin,org
# minting authentication (if using EZID)
ezid: user:authcode
