# ------------------------------
# Queue configuration (Zookeeper)
# ------------------------------

# Zookeeper server hostname/port
QueueService: localhost:2181
# Queue name that will be used for queuing data for this ingest service (must be unique to other instances)
QueueName: /ingest.1
# Pause Consumer daemon from processing queued requests from ZK
QueueHoldFile: /tdr/ingest/queue/HOLD
# Poll interval for Consumer daemon (seconds)
PollingInterval: 15
# Number of threads that Consumer daemon will create for processing queued data
NumThreads: 5
