<?xml version="1.0" encoding="UTF-8"?>
<web-app>

    <display-name>Jersey RESTful</display-name>
    
    <servlet>
        <servlet-name>Jersey Batch Web Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>org.cdlib.mrt.ingest.app.jersey.post</param-value>
        </init-param>
        <init-param>
            <param-name>loggerProperties</param-name>
            <param-value>resources/TIngestLogger.properties</param-value>
        </init-param>
        <init-param>
            <param-name>serviceProperties</param-name>
            <param-value>resources/TIngestService.properties</param-value>
        </init-param>
        <init-param>
            <param-name>localProperties</param-name>
            <param-value>resources/TIngestServiceLocal.properties</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>Jersey Admin Web Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>org.cdlib.mrt.ingest.app.jersey.admin</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.provider.classnames</param-name>
            <param-value>org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
        </init-param>
        <init-param>
            <param-name>loggerProperties</param-name>
            <param-value>resources/TIngestLogger.properties</param-value>
        </init-param>
        <init-param>
            <param-name>serviceProperties</param-name>
            <param-value>resources/TIngestService.properties</param-value>
        </init-param>
        <init-param>
            <param-name>localProperties</param-name>
            <param-value>resources/TIngestServiceLocal.properties</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>Batch Consumer Daemon</servlet-name>
        <servlet-class>org.cdlib.mrt.ingest.consumer.BatchConsumer</servlet-class>
        <init-param>
            <param-name>loggerProperties</param-name>
            <param-value>resources/TIngestLogger.properties</param-value>
        </init-param>
        <init-param>
            <param-name>serviceProperties</param-name>
            <param-value>resources/TIngestService.properties</param-value>
        </init-param>
        <init-param>
            <param-name>localProperties</param-name>
            <param-value>resources/TIngestServiceLocal.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>          

    <servlet>
        <servlet-name>Batch Report Consumer Daemon</servlet-name>
        <servlet-class>org.cdlib.mrt.ingest.consumer.BatchReportConsumer</servlet-class>
        <init-param>
            <param-name>loggerProperties</param-name>
            <param-value>resources/TIngestLogger.properties</param-value>
        </init-param>
        <init-param>
            <param-name>serviceProperties</param-name>
            <param-value>resources/TIngestService.properties</param-value>
        </init-param>
        <init-param>
            <param-name>localProperties</param-name>
            <param-value>resources/TIngestServiceLocal.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>          

    <servlet>
        <servlet-name>EstimateConsumer Daemon</servlet-name>
        <servlet-class>org.cdlib.mrt.ingest.consumer.EstimateConsumer</servlet-class>
        <init-param>
            <param-name>loggerProperties</param-name>
            <param-value>resources/TIngestLogger.properties</param-value>
        </init-param>
        <init-param>
            <param-name>serviceProperties</param-name>
            <param-value>resources/TIngestService.properties</param-value>
        </init-param>
        <init-param>
            <param-name>localProperties</param-name>
            <param-value>resources/TIngestServiceLocal.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>ProvisionConsumer Daemon</servlet-name>
        <servlet-class>org.cdlib.mrt.ingest.consumer.ProvisionConsumer</servlet-class>
        <init-param>
            <param-name>loggerProperties</param-name>
            <param-value>resources/TIngestLogger.properties</param-value>
        </init-param>
        <init-param>
            <param-name>serviceProperties</param-name>
            <param-value>resources/TIngestService.properties</param-value>
        </init-param>
        <init-param>
            <param-name>localProperties</param-name>
            <param-value>resources/TIngestServiceLocal.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>DownloadConsumer Daemon</servlet-name>
        <servlet-class>org.cdlib.mrt.ingest.consumer.DownloadConsumer</servlet-class>
        <init-param>
            <param-name>loggerProperties</param-name>
            <param-value>resources/TIngestLogger.properties</param-value>
        </init-param>
        <init-param>
            <param-name>serviceProperties</param-name>
            <param-value>resources/TIngestService.properties</param-value>
        </init-param>
        <init-param>
            <param-name>localProperties</param-name>
            <param-value>resources/TIngestServiceLocal.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>ProcessConsumer Daemon</servlet-name>
        <servlet-class>org.cdlib.mrt.ingest.consumer.ProcessConsumer</servlet-class>
        <init-param>
            <param-name>loggerProperties</param-name>
            <param-value>resources/TIngestLogger.properties</param-value>
        </init-param>
        <init-param>
            <param-name>serviceProperties</param-name>
            <param-value>resources/TIngestService.properties</param-value>
        </init-param>
        <init-param>
            <param-name>localProperties</param-name>
            <param-value>resources/TIngestServiceLocal.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>RecordConsumer Daemon</servlet-name>
        <servlet-class>org.cdlib.mrt.ingest.consumer.RecordConsumer</servlet-class>
        <init-param>
            <param-name>loggerProperties</param-name>
            <param-value>resources/TIngestLogger.properties</param-value>
        </init-param>
        <init-param>
            <param-name>serviceProperties</param-name>
            <param-value>resources/TIngestService.properties</param-value>
        </init-param>
        <init-param>
            <param-name>localProperties</param-name>
            <param-value>resources/TIngestServiceLocal.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>NotifyConsumer Daemon</servlet-name>
        <servlet-class>org.cdlib.mrt.ingest.consumer.NotifyConsumer</servlet-class>
        <init-param>
            <param-name>loggerProperties</param-name>
            <param-value>resources/TIngestLogger.properties</param-value>
        </init-param>
        <init-param>
            <param-name>serviceProperties</param-name>
            <param-value>resources/TIngestService.properties</param-value>
        </init-param>
        <init-param>
            <param-name>localProperties</param-name>
            <param-value>resources/TIngestServiceLocal.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Jersey Batch Web Application</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Jersey Batch Web Application</servlet-name>
        <url-pattern>/poster/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Jersey Admin Web Application</servlet-name>
        <url-pattern>/admin/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>default</servlet-name>
      <url-pattern>/static/*</url-pattern>
    </servlet-mapping>

</web-app>
