<?xml version="1.0" encoding="UTF-8"?>
<web-app>

    <display-name>Jersey RESTful</display-name>
    
    <servlet>
        <servlet-name>Jersey Ingest Web Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>^M
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>^M
            <param-value>org.cdlib.mrt.ingest.app.jersey.ingest</param-value>
        </init-param>
        <init-param>
            <param-name>loggerProperties</param-name>
            <param-value>resources/TIngestLogger.properties</param-value>
        </init-param>
        <init-param>
            <param-name>serviceProperties</param-name>
            <param-value>resources/TIngestService.properties</param-value>
        </init-param>
        <init-param>
            <param-name>localProperties</param-name>
            <param-value>resources/TIngestServiceLocal.properties</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>Jersey Batch Web Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>^M
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>^M
            <param-value>org.cdlib.mrt.ingest.app.jersey.post</param-value>
        </init-param>
        <init-param>
            <param-name>loggerProperties</param-name>
            <param-value>resources/TIngestLogger.properties</param-value>
        </init-param>
        <init-param>
            <param-name>serviceProperties</param-name>
            <param-value>resources/TIngestService.properties</param-value>
        </init-param>
        <init-param>
            <param-name>localProperties</param-name>
            <param-value>resources/TIngestServiceLocal.properties</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>Jersey Admin Web Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>^M
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>^M
            <param-value>org.cdlib.mrt.ingest.app.jersey.admin</param-value>
        </init-param>
        <init-param>
            <param-name>loggerProperties</param-name>
            <param-value>resources/TIngestLogger.properties</param-value>
        </init-param>
        <init-param>
            <param-name>serviceProperties</param-name>
            <param-value>resources/TIngestService.properties</param-value>
        </init-param>
        <init-param>
            <param-name>localProperties</param-name>
            <param-value>resources/TIngestServiceLocal.properties</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>Consumer Daemon</servlet-name>
        <servlet-class>org.cdlib.mrt.ingest.consumer.Consumer</servlet-class>
        <init-param>
            <param-name>loggerProperties</param-name>
            <param-value>resources/TIngestLogger.properties</param-value>
        </init-param>
        <init-param>
            <param-name>serviceProperties</param-name>
            <param-value>resources/TIngestService.properties</param-value>
        </init-param>
        <init-param>
            <param-name>localProperties</param-name>
            <param-value>resources/TIngestServiceLocal.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>          

    <servlet>
        <servlet-name>Consumer Daemon High Priority</servlet-name>
        <servlet-class>org.cdlib.mrt.ingest.consumer.ConsumerHighPriority</servlet-class>
        <init-param>
            <param-name>loggerProperties</param-name>
            <param-value>resources/TIngestLogger.properties</param-value>
        </init-param>
        <init-param>
            <param-name>serviceProperties</param-name>
            <param-value>resources/TIngestService.properties</param-value>
        </init-param>
        <init-param>
            <param-name>localProperties</param-name>
            <param-value>resources/TIngestServiceLocal.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>          

    <servlet-mapping>
        <servlet-name>Jersey Ingest Web Application</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Jersey Batch Web Application</servlet-name>
        <url-pattern>/poster/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Jersey Admin Web Application</servlet-name>
        <url-pattern>/admin/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>default</servlet-name>
      <url-pattern>/static/*</url-pattern>
    </servlet-mapping>

</web-app>
