# ----------------------
# Ingest profile example
# ----------------------

# Profile name which may differ from filename.  
# However, filename is what is defined in submission request.
ProfileID: profileID
Identifier-scheme: ARK
Identifier-namespace: 99999
Type: MRT-curatorial
Role: MRT-content
Aggregate: 
Owner: ark:/99999/sample_owner_identifier
Context: this_is_a_group_context
Collection.1: ark:/99999/sample_collection_identifier
# Notification email definitions.  Assumes smtp is running on host.
Notification.1: john.doe@example.org
Notification.2: jane.doe@example.org
# --- handler ingest processing
Handler.1: org.cdlib.mrt.ingest.handlers.HandlerInitialize
Handler.2: org.cdlib.mrt.ingest.handlers.HandlerAccept
Handler.3: org.cdlib.mrt.ingest.handlers.HandlerVerify
Handler.4: org.cdlib.mrt.ingest.handlers.HandlerDisaggregate
Handler.5: org.cdlib.mrt.ingest.handlers.HandlerRetrieve
Handler.6: org.cdlib.mrt.ingest.handlers.HandlerCorroborate
Handler.7: org.cdlib.mrt.ingest.handlers.HandlerCharacterize
Handler.8: org.cdlib.mrt.ingest.handlers.HandlerMinter
Handler.9: org.cdlib.mrt.ingest.handlers.HandlerDescribe
Handler.10: org.cdlib.mrt.ingest.handlers.HandlerDocument
Handler.11: org.cdlib.mrt.ingest.handlers.HandlerDigest
Handler.12: org.cdlib.mrt.ingest.handlers.HandlerTransfer
Handler.13: org.cdlib.mrt.ingest.handlers.HandlerNotification
# Handler.14: org.cdlib.mrt.ingest.handlers.HandlerCleanup
Handler.15: org.cdlib.mrt.ingest.handlers.HandlerInventoryQueue
# --- handler queue submission processing
HandlerQueue.1: org.cdlib.mrt.ingest.handlers.queue.HandlerDisaggregate
HandlerQueue.2: org.cdlib.mrt.ingest.handlers.queue.HandlerSubmit
HandlerQueue.3: org.cdlib.mrt.ingest.handlers.queue.HandlerNotification
# Storage service 
StorageService: http://localhost:8085/storage    
StorageNode: 15
CreationDate: 2010-01-19T13:28:14-08:00
ModificationDate: 2010-01-26T23:28:14-08:00
# Minting service 
ObjectMinterURL: https://example.org/ezid/shoulder/ark:/99999/fk4
# CharacterizationURL: http://example.org/characterize/submit
